<h1> <%= @current_user.user_name %>'s Profile</h1>

<% if @user.id == @current_user.id %>
<%= link_to "signout", log_out_path %>
<% end %>

<% if @user.id == @current_user.id %>
<%= link_to("Delete", user_path(@user), method: :delete) %>
<% end %>

<%= tag :br %>
<%= link_to("New Boat", new_boat_path, method: :get) %>
<%= tag :br %>
<%= link_to("New Job", new_job_path, method: :get) %>
<%= tag :br %>
<%= link_to("View All Boats", boats_path, method: :get) %>
<%= tag :br %>
<%= link_to("View All Jobs", jobs_path, method: :get) %>
<%= tag :br %>
<%= link_to("View All Users", users_path, method: :get) %>
<%= tag :br %>
<% @user.jobs.each do |j| %>
<%= j.origin %>
<%= j.job_name %>
<% end %>
<%= tag :br %>
<% @user.boats.each do |b| %>
<%= b.name %>
<%= b.current_l %>
<%= tag :br %>
<% end %>


